@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    color: rgb(223, 223, 223);
}

body{
    background: linear-gradient(rgba(17,17,17,0.3),rgba(20,20,20,1)), url(rock.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.btn{
    height: 45px;
    width: 200px;
    margin-top: 15px;
    color: #0d0d0d;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease-out;
    box-shadow: inset 0 0 0 0 #396fd4;
    outline: none;
    font-size: 1.5rem;
    font-family: 'poppins';
    text-transform: uppercase;
    font-weight: bold;
}

.btn:hover{
    box-shadow: inset 300px 0 0 0 #396fd4 ;
    color: white;
}

h1{
    font-family: 'poppins';
    font-size: 5rem;;
}

h2{
    font-family: 'poppins';
    font-size: 3rem;
    color: #396fd4;
}

